{{define "title"}}Attributions{{end}}

{{define "main"}}
<div class="container">
    <div>
        <h2>Photos</h2>
    </div>

    <ul class="mdl-list">
        <li class="mdl-list-item">
            <span class="mdl-list__item-primary-content">
                <a target="blank" rel="noreferrer"
                    href="https://unsplash.com/fr/@paulinel?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Pauline
                    Loroy</a>
            </span>
        </li>
        <li class="mdl-list-item">
            <span class="mdl-list__item-primary-content">
                <a target='_blank' rel='noreferrer'
                    href="https://unsplash.com/es/@sebcomantravel?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sebastian
                    Coman Travel</a>
            </span>
        </li>
        <li class="mdl-list-item">
            <span class="mdl-list__item-primary-content">
                <a target='_blank' rel='noreferrer'
                    href="https://unsplash.com/@nihalkarkala?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Nihal
                    Karkala</a>
            </span>
        </li>
        <li class="mdl-list-item">
            <span class="mdl-list__item-primary-content">
                <a target='_blank' rel='noreferrer'
                    href="https://unsplash.com/@jamie452?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jamie
                    Street</a>
            </span>
        </li>
        <li class="mdl-list-item">
            <span class="mdl-list__item-primary-content">
                <a target='_blank' rel='noreferrer'
                    href="https://unsplash.com/@andreaelphotography?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Andrea
                    Lightfoot</a>
            </span>
        </li>
        <li class="mdl-list-item">
            <span class="mdl-list__item-primary-content">
                <a target='_blank' rel='noreferrer'
                    href="https://unsplash.com/@oskark?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Oskar
                    Kadaksoo</a>
            </span>
        </li>
        <li class="mdl-list-item">
            <span class="mdl-list__item-primary-content">
                <a target='_blank' rel='noreferrer'
                    href="https://unsplash.com/@mpetrucho?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Petr
                    Magera</a>
            </span>
        </li>
        <li class="mdl-list-item">
            <span class="mdl-list__item-primary-content">
                <a target='_blank' rel='noreferrer'
                    href="https://unsplash.com/@cookiethepomutm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Cookie
                    the Pom</a>
            </span>
        </li>
        <li class="mdl-list-item">
            <span class="mdl-list__item-primary-content">
                <a target='_blank' rel='noreferrer'
                    href='https://unsplash.com/pt-br/@rwltn1?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText'>Ryan
                    Walton</a>
            </span>
        </li>
    </ul>
</div>

{{end}}