{{ define "title"}}TailScribe - Sign Up{{end}}

{{ define "main"}}
<div class="mdl-card mdl-shadow--2dp">
    <h1>Welcome!</h1>

    <p>Let's make your account</p>

    <form method="POST" action="/signup">
        <input name="email" />
        <input name="password" />

        <button>Get Started!</button>
    </form>
</div>
{{ end }}