.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: left;
    background-color: #ffffff;
    background-image: url('../svg/tiled_background.svg');
    color: #1B422A;
}

.navbar-container {
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0),0px 4px 5px 0px rgba(0,0,0,0.14),0px 0px 0px 0px rgba(0,0,0,0.12);
}

.vertical-stretch-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.navbar {
    z-index: 1000;
    background-color: #E3F4EF;
    color: #1B422A;
    height: 64px;
}

.app-logo {
    height: 37px;
    width: 160px;
    align-self: center;
}

.container {
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    background-color: #409b63;
    color: #d0d0d0;
}

.footer .mdl-mega-footer__heading {
    color: #f7f7f7;
}

.terms-and-conditions, .privacy-policy {
    overflow-wrap: 'break-word';
    margin: 1em;
    padding: 1em;
    text-align: left;
}

.contact-us {
    padding: 1em;
}

.contact-us>h1,h2 {
    text-align: center;
}

.right-nav-links-container {
    display: flex;
    flex-direction: row;
}

.right-nav-links-container a {
    color: inherit;
    padding: 8px;
    text-decoration: none;
}

/* Style overrides */
.mdl-layout__header-row {
    padding: 0 24px;
}

.mdl-layout__container {
    position: relative;
}