{{ define "top" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1">
        <title>{{ .Title }}</title>
        <link 
            rel="stylesheet" 
            href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link 
            rel="stylesheet" 
            href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
        <link
            rel="stylesheet"
            href="/static/css/styles.css" />
        <script 
            defer 
            src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    </head>
    <body>
        <section class="app">
{{ end }}

{{ define "navbar" }}
<div class="navbar-container">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header navbar">
            <div class="mdl-layout__header-row">
                <div>
                    <a href="/">
                        <img
                            class="app-logo"
                            src="/static/images/logo.png"
                            alt="home"
                            width="160px"
                            height="37px"
                        />
                    </a>
                </div>
            </div>
        </header>
    </div>
</div>
{{ end }}

{{ define "bottom" }}
<footer class="mdl-mega-footer footer">
    <div class="mdl-mega-footer__middle-section">
        <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer__heading">Details</h1>
            <ul class="mdl-mega-footer__link-list">
                <li><a 
                    target="_blank"
                    href="https://docs.tailscribe.com/">User Guides</a></li>
                <li><a href="/attributions">Attributions</a></li>
                <li><a
                    target="_blank" 
                    href="https://github.com/ctiller15/tailscribe">Github</a></li>
            </ul>
        </div>
    
        <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer__heading">FAQ</h1>
            <ul class="mdl-mega-footer__link-list">
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>

    <div class="mdl-mega-footer__bottom-section">
        <div class="mdl-logo">TailScribe</div>
        <ul class="mdl-mega-footer__link-list">
            <li><a href="/terms">Terms and Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
    </div>
</footer>
</section>
</body>
</html>
{{ end }}