{{ define "navbar" }}
<div class="navbar-container">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header navbar">
            <div class="mdl-layout__header-row">
                <div>
                    <a href="/">
                        <img class="app-logo" src="/static/images/logo.png" alt="home" width="160px" height="37px" />
                    </a>
                </div>
                <div class="mdl-layout-spacer"></div>
                <div class="right-nav-links-container">
                    <div>
                        <a href="/signup">Sign Up</a>
                    </div>
                    <div>
                        <a href="login">Log In</a>
                    </div>

                </div>
            </div>
        </header>
    </div>
</div>
{{ end }}